{% extends "base.html" %}
{% block titulo %}Agregar Cliente{% endblock %}
{% block contenido %}
    <div class="container">
        <section class="section">
            <div class="columns">
                <div class="column is-one-third">
                    <h3 class="is-size-3">Agregar Factura</h3>
                    <form action="{{url_for('routes.save_bill')}}" method="POST" id="form_add_bill" >
                        <label for="number">Numero de Factura</label>
                        <input required type="number" class="form-control" placeholder="Numero de Factura" name="number" id="number">
                        <label for="user">identificacion del Usuario:</label>
                        <input required type="text" class="form-control" placeholder="identificacion" name="user" id="user">
                        <div class="invalid-feedback" id="invalidMessage">
                            Usuario invalido.
                        </div>
                        <div class="valid-feedback" id="validMessage">
                            El usuario Existe!
                        </div>
                        <label for="price">price</label>
                        <input required type="number" class="form-control" placeholder="Precio" name="price" id="price">
                        <label for="balance">balance</label>
                        <input required type="number" class="form-control" placeholder="Balance" name="balance" id="balance">
                        <label for="date">Fecha: </label>
                        <input required type="date" class="form-control"placeholder="aaaa-mm-dd" name="date" id="date" max="2021-10-23">
                        <br>
                        <button type="submit" class="btn btn-success" id="submitButton" disabled>Guardar</button>
                        <a href="{{url_for('index')}}" class="btn btn-primary">Volver</a>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block js %} 
    <script src="{{url_for('static', filename = 'invoiceValidation.js')}}"></script>
{% endblock %}
