{% extends "base.html" %}
{% block titulo %} Facturas {% endblock %}
{% block contenido %}
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column">
                <h3 class="is-size-3">Facturas</h3>
                <a href="{{url_for('routes.add_bill')}}" class="btn btn-primary">Agregar</a>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>date</th>
                            <th>numero</th>
                            <th>usuario</th>
                            <th>price</th>
                            <th>balance</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bill in bills %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{bill[1]}}</td>
                            <td>{{bill[2]}}</td>
                            <td>{{bill[3]}}</td>
                            <td>{{bill[4]}}</td>
                            <td>{{bill[5]}}</td>
                            <td>
                                <a href="{{url_for('routes.edit_bill', id=bill[0])}}" class="btn btn-success">Editar</a>
                            </td>
                            <td>
                                {%if bill[5] == 0%}
                                    <form action="{{url_for('routes.delete_bill')}}" method="POST" onSubmit="return confirm('Está seguro de eliminar este usuario?');">
                                        <input type="hidden" name="id" value="{{bill[0]}}">
                                        <button class="btn btn-danger">Eliminar</button>
                                    </form>
                                {%else%}
                                <button class="btn btn-danger" disabled>Eliminar</button>
                                {%endif%}
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock %}
